body 
{
    background-color: white;

}

p {
    font-variant-ligatures: normal;
}
header{border: 1px solid black;
padding: 60px;
}
h1 {border: solid blue;
padding: 50px;}
p {border: 1px solid black;
padding: 240px;
height: 100px;
display: block;}
span {border: 1px solid red;
    height: 100px;
display: block;}